*{
    margin: 0;
    padding: 0;
}

header{
    background: url("../layouts/images/header.jpg") no-repeat center center;
    background-size: cover;
	height:500px;
	width: 100%;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}



